@using OnlineCommercialAutomation.Models.Entities
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2 style="margin-left:20px">
    Products <a href="/Product/Add" class="btn btn-primary" style="width:100px;position:absolute;right:50px"><i class="fas fa-plus"></i> Add</a>
</h2>
<br />
<table id="tbl1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Make it Passive</th>
            <th>Product</th>
            <th>Brand</th>
            <th>Stock</th>
            <th>Buying Price</th>
            <th>Sales Price</th>
            <th>Category</th>
            <th>Image</th>
            <th>Sell</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td><a href="/Product/Delete/@x.Id" class="text-danger" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to passive it?')"><strong>Passive</strong></a></td>
                <td><a href="/Product/BringProduct/@x.Id">@x.ProductsName</a></td>
                <td><a href="/Product/BringProduct/@x.Id">@x.Brand</a></td>
                <td><a href="/Product/BringProduct/@x.Id">@x.Stock</a></td>
                <td><a href="/Product/BringProduct/@x.Id">@x.BuyingPrice ₺</a></td>
                <td><a href="/Product/BringProduct/@x.Id">@x.SalesPrice ₺</a></td>
                <td><a href="/Product/BringProduct/@x.Id">@x.Category.CategoryName</a></td>
                <td>
                    <img src="@x.ProductImage" style="width:100px;height:100px" />
                </td>
                <td><a href="/Product/Sell/@x.Id" class="btn btn-outline-success"> Sell</a></td>
            </tr>
        }
    </tbody>
</table>
<br />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>