@using OnlineCommercialAutomation.Models.Entities
@model List<Product>
@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE HTML>
<html>
<body>
    <div class="content">
        <div class="products-agileinfo">
            <h2 class="tittle">
                @ViewBag.sw found @ViewBag.nopf item in your search.
            </h2>
            <div class="container">
                <div class="product-agileinfo-grids w3l">

                    @Html.Action("Categories", "List")

                    <div class="col-md-9 product-agileinfon-grid1 w3l">
                        <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                    <div class="product-tab">
                                        @foreach (var x in Model)
                                        {
                                            <div class="col-md-4 product-tab-grid simpleCart_shelfItem" style="margin-bottom:20px">
                                                <div class="grid-arr">
                                                    <div class="grid-arrival">
                                                        <figure>
                                                            <a href="/List/Details/@x.Id">
                                                                <div class="grid-img">
                                                                    <img style="width:250px;height:250px" src="@x.ProductImage" class="img-responsive" alt="">
                                                                </div>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                    <div class="women">
                                                        <h6><a href="/List/Details/@x.Id">@x.ProductsName</a></h6>
                                                        <span class="size">@x.Brand</span>
                                                        <p><em class="item_price">@x.SalesPrice ₺</em></p>
                                                        <a href="/List/Details/@x.Id" class="my-cart-b item_add">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




