@model OnlineCommercialAutomation.Models.Entities.Message
@{
    ViewBag.Title = "MakeAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Make Announcement</h2>
<br />
<form class="form-group" method="post">
    <input type="text" name="Receiver" value="admin" class="form-control" readonly hidden />
    <br />
    @Html.LabelFor(x => x.Sender)
    <input type="text" name="Sender" value="admin" class="form-control" readonly />
    <br />
    @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @required="" })
    <br />
    @Html.LabelFor(x => x.Content)
    @Html.TextAreaFor(x => x.Content, new { @class = "form-control", @required = "" })
    <br />
    @Html.LabelFor(x => x.Date)
    <input type="text" name="Date" value="@DateTime.Now" class="form-control" readonly />
    <br />
    <button class="btn btn-primary" style="width:100px"><i class="fas fa-bullhorn"></i> Publish</button>
    <a class="btn btn-secondary" href="/Announcement/Index" style="width:100px;color:white"><i class="fas fa-backspace"></i> Cancel</a>
</form>


