@using OnlineCommercialAutomation.Models.Entities
@model List<Staff>
@{
    ViewBag.Title = "StaffList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/web4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/web4/dist/css/adminlte.min.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Staffs</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">

            <div class="card card-solid">
                <div class="card-body pb-0">
                    <div class="row d-flex align-items-stretch">
                        @foreach (var x in Model)
                        {
                            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                                <div class="card bg-light">
                                    <div class="card-header text-muted border-bottom-0">
                                       @x.Department.DepartmentName
                                    </div>
                                    <div class="card-body pt-0">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="lead"><b>@x.StaffName @x.StaffSurname</b></h2>
                                                <p class="text-muted text-sm"><b>About: </b> @x.Department.DepartmentName </p>
                                                <ul class="ml-4 mb-0 fa-ul text-muted">
                                                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: @x.Address</li>
                                                     
                                                    <li class="small" style="margin-top:10px"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone : @x.Phone</li>
                                                </ul>
                                            </div>
                                            <div class="col-5 text-center">
                                                <img src="@x.StaffImage" alt="" class="img-circle img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-right">
                                            <a href="/Staff/BringStaff/@x.Id" class="btn btn-sm bg-teal">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                            <a href="/Department/DepartmentStaffSales/@x.Id" class="btn btn-sm btn-primary">
                                                <i class="fas fa-user"></i> Sales History
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
    <aside class="control-sidebar control-sidebar-dark">
    </aside>
    <script src="~/web4/plugins/jquery/jquery.min.js"></script>
    <script src="~/web4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/web4/dist/js/adminlte.min.js"></script>
    <script src="~/web4/dist/js/demo.js"></script>
</body>
</html>


