@using OnlineCommercialAutomation.Models.Entities
@model List<Current>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2 style="margin-left:20px">
    Customers
</h2>
<br />
<table id="tbl1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Delete</th>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>City</th>
            <th>Mail</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td><a href="/Current/Delete/@x.Id" class="text-danger" data-toggle="tooltip" data-placement="top" title="Delete" onclick="return confirm('Are you sure you want to delete it?')"><strong>X</strong></a></td>
                <td><a class="">@x.Id</a></td>
                <td><a class="">@x.CurrentsName</a></td>
                <td><a class="">@x.CurrentsSurname</a></td>
                <td><a class="">@x.CurrentsCity</a></td>
                <td><a class="">@x.CurrentsMail</a></td>
                <td><a href="/Current/Details/@x.Id" class="btn btn-outline-info">Sales History</a></td>
            </tr>
        }
    </tbody>
</table>
<br />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl1').dataTable({});
</script>