@using OnlineCommercialAutomation.Models.Entities
@model List<SalesMovement>
@{
    ViewBag.Title = "DepartmentStaffSales";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Department Personnel Sales</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewBag.dpersonel</li>
</ol>
<table class="table table-bordered">
    <tr>
        <th>Product</th>
        <th>Customer</th>
        <th>Price</th>
        <th>Piece</th>
        <th>Total</th>
        <th>Date</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Product.ProductsName</td>
            <td>@x.Current.CurrentsName @x.Current.CurrentsSurname</td>
            <td>@x.Price ₺</td>
            <td>@x.Piece</td>
            <td>@x.TotalAmount</td>
            <td>@x.Date.ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>